In [1]:
import pandas as pd
import numpy as np

In [3]:
dirpath = '/Users/parulgaba/Desktop/Capstone-Ethos/ConfidentialData/csvdata/'

data_path = '/Users/parulgaba/Desktop/Capstone-Ethos/ethos-retail-model/data/'

df_north       
=> df_north_sanit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(removed non-stores)         
=> df_north_with_market_share &nbsp;&nbsp;&nbsp;(added log So/s)     
=> df_north_final&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (extracted relevant columns)      
=> df_north_pareto &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(did pareto analysis)               
=> df_north_dummies &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(created dummies)                   
=> X,y       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(seperated independent and dependent variables)                  
=> X_train, y_train, X_test, y_test

In [4]:
#read existing summary
summ_data_file = data_path + 'summary_all_3.csv'
store_to_be_removed = data_path +  "stores_to_be_removed.csv"
summ_data = pd.read_csv(summ_data_file)
store_remove=pd.read_csv(store_to_be_removed, header=0,index_col=0)
store_remove_list=store_remove.index.to_list()
summ_sanit = summ_data[~summ_data['location_code'].isin(store_remove_list)]
print('done')

done

In [10]:
lst_df=[]
cols=['week_agg_no', 'Zero_Sales', 'Pos_Sales','total_count','zero_percent','pos_percent']
for r in range(2,14,1):
    #print(r)
    weeks_df=summ_sanit.sort_values(['year','week'])['week'].unique()
    weeks_df=pd.DataFrame(data=weeks_df,columns=['week'])
    weeks_df['period']=(weeks_df.index/r).astype(int)+1
    summ_sanit_period=pd.merge(summ_sanit,weeks_df, right_on='week', left_on='week',how='left')
    sales_sum_df = summ_sanit_period.groupby(['period','item_no','location_code']).agg({'sales_quantity':'sum'}).reset_index()
    zero_sales=len(sales_sum_df[sales_sum_df['sales_quantity'] == 0 ])
    pos_sals=len(sales_sum_df[sales_sum_df['sales_quantity'] > 0 ])
    total_count=zero_sales+pos_sals
    zero_percent=(zero_sales/total_count)*100
    pos_percent=(pos_sals/total_count)*100    
    lst_df.append([r,zero_sales, pos_sals,total_count,zero_percent,pos_percent])
    
df1 = pd.DataFrame(lst_df, columns=cols)
df1=df1.set_index("week_agg_no") 
df1

             Zero_Sales  Pos_Sales  total_count  zero_percent  pos_percent
week_agg_no
2               2697016     160587      2857603     94.380360     5.619640
3               1829999     157869      1987868     92.058376     7.941624
4               1392893     155109      1548002     89.980052    10.019948
5               1128427     152656      1281083     88.083832    11.916168
6                955528     150297      1105825     86.408609    13.591391
7                822986     147925       970911     84.764309    15.235691
8                716880     145891       862771     83.090414    16.909586
9                650605     143750       794355     81.903557    18.096443
10               582342     141964       724306     80.399997    19.600003
11               552585     139900       692485     79.797396    20.202604
12               510638     138171       648809     78.703902    21.296098
13               476147     136529       612676     77.715954    22.284046

In [8]:
df1.head(20)

             Zero_Sales  Pos_Sales  total_count  zero_percent  pos_percent
week_agg_no
2               1082954     128368      1211322     89.402653    10.597347
3                714657     118559       833216     85.770917    14.229083
4                531911     110995       642906     82.735423    17.264577
5                420283     104803       525086     80.040793    19.959207
6                351270      99695       450965     77.892963    22.107037
7                296404      95238       391642     75.682383    24.317617
8                254508      91698       346206     73.513457    26.486543
9                228124      88400       316524     72.071628    27.928372
10               200732      85522       286254     70.123736    29.876264
11               189231      82649       271880     69.600927    30.399073
12               175225      80096       255321     68.629294    31.370706
13               162025      77910       239935     67.528706    32.471294

##### Reading data

In [ ]:
filename = data_path + 'summary_all_3.csv' # Take periodic summary

#data=pd.read_csv(filename)
d={'quantity':'count','sales_quantity':'sum','purchase_quantity':'sum','transfer_quantity':'sum'}
chunksize = 10 ** 5
rows=0
df_north = pd.DataFrame()
for chunk in pd.read_csv(filename, chunksize=chunksize):
 
    # n=chunk[chunk['state'].isin(['ST03','ST07'])]
    df_north=pd.concat([df_north,n])
    rows+=chunk.shape[0]
print (rows)

In [223]:
#filename = 'D:\\Backup\\ISB CBA\\Capstone\\summary data\\summary_area_code_02.csv'
#df_north=pd.read_csv(filename)

In [244]:
#removing location codes which are not stores
store_remove=pd.read_excel ("D:\\Backup\\ISB CBA\\Capstone\\stores to be removed.xlsx", header=0,index_col=0)
store_remove_list=store_remove.index.to_list()
df_north_sanit = df_north[~df_north['location_code'].isin(store_remove_list)]

In [245]:
df_north_sanit.columns

Index(['location_code', 'item_no', 'week', 'closing_date', 'brand', 'quantity',
       'purchase_quantity', 'transfer_quantity', 'sales_quantity',
       'purchase_cost_amount', 'purchase_mrp', 'purchase_date',
       'stock_prevailing_mrp', 'store_in', 'product_group_code',
       'transfer_cost_amount', 'sales_department', 'days_to_sell',
       'num_of_customers', 'total_price', 'line_discount', 'crm_line_discount',
       'discount', 'tax', 'cost', 'billing', 'contribution', 'trade_incentive',
       'trade_incentive_value', 'total_contribution', 'store_type',
       'store_location', 'city_type', 'region', 'state', 'available_quantity',
       'week_no', 'year', 'case_size', 'case_size_range', 'gender', 'movement',
       'material', 'dial_color', 'strap_type', 'strap_color', 'precious_stone',
       'glass', 'case_shape', 'watch_type', 'area_code'],
      dtype='object')

In [246]:
print (len(df_north), len(df_north_sanit))

1087144 682686

In [17]:
#array=df_north_sanit['location_code'].unique()
#df = pd.DataFrame (array)
#df.to_excel('D:\\Backup\\ISB CBA\\Capstone\\locs.xlsx')

In [41]:
#df = df_north_sanit.groupby(['state','location_code']).agg({'sales_quantity':'sum'})
#df.to_excel('D:\\Backup\\ISB CBA\\Capstone\\locs.xlsx')

In [247]:
df_north_sanit.shape

(682686, 51)

### Adding log S/So

In [248]:
#reading market shares
market_share=pd.read_excel(data_path + "market_share_encoded.xlsx", header=0,index_col=0)

#computing market size for each state-period
market_sizes=summary_df.groupby(['state','period']).agg({'sales_quantity':'sum'})
market_sizes=market_sizes.reset_index()
market_sizes=pd.merge(market_sizes,market_share, left_on='state', right_on='SubCode', how='left')#.drop('Attribute_x', axis=1)
market_sizes['Market Size']=market_sizes['sales_quantity'].div(market_sizes['Market Share'], axis=0)

#computing number of stores per state
x=summary_df.groupby(['state','period'])['location_code'].unique()
l=[]
store_nos=pd.DataFrame()
for i in range(len(x)):
    l.append([x.index[i][0],x.index[i][1],len(x[i])])
cols=['state','period','Store numbers']
store_nos = pd.DataFrame(l, columns=cols)

#merging market sizes with number of stores per market
market_sizes=pd.merge(market_sizes,store_nos, how='inner')

#computing market size per store
market_sizes['per store market']=market_sizes['Market Size']/market_sizes['Store numbers']

#adding market share per store-period to the main data
market_sizes=market_sizes[['state','period','per store market']]#extracting only relevant columns from market_sizes
merge_cols=['state','period']
summary_with_market_shares=pd.merge(summary_df,market_sizes, on=merge_cols,how='inner')

#computing So
summary_with_market_shares['so']=summary_with_market_shares['per store market']-summary_with_market_shares['sales_quantity']

#computing log(S/So) [replacing zeros with 1e-08 so that logs dont create a problem]
summary_with_market_shares['so']=summary_with_market_shares['sales_quantity'].replace(0,10**(-5)).div(summary_with_market_shares['so'],axis=0)
summary_with_market_shares['so']=np.log(summary_with_market_shares['so'])

In [249]:
#checking for NaNs
d=df_north_with_market_shares[['sales_quantity','per store market','so']]
d[d.isna().any(axis=1)]

Empty DataFrame
Columns: [sales_quantity, per store market, so]
Index: []

In [250]:
df_north_with_market_shares.shape

(682686, 53)

In [251]:
#extracting specific columns

col=['location_code', 'item_no', 'state', 'region',
       'brand', 'stock_prevailing_mrp', 'store_type', 'store_location', 'city_type',
       'available_quantity', 'week_no', 'year', 'case_size_range',
       'gender', 'movement', 'material', 'dial_color', 'strap_type',
       'strap_color', 'precious_stone', 'glass', 'case_shape', 'watch_type','billing','sales_quantity','so']

df_north_final=df_north_with_market_shares.loc[:,col]
#df_north_final.fillna(0, inplace=True)

df_north_final['item_no']=df_north_final['item_no'].astype(str)
#df_north_final['case_size']=df_north_final['case_size'].astype(str)
df_north_final['case_shape']=df_north_final['case_shape'].astype(str)

In [252]:
df_north_final.shape

(682686, 26)

#### Defining a function for doing pareto analysis on features

The function combines all levels of a categorical features that cummulatively account for ~10% or less by Sales billings into a new level called "others". Features with less than 10 levels are not considered for pareto analysis.

In [253]:
def pareto(df,cols):
    lst=[]
    
    for col in cols:
                
        series=df.fillna(0).groupby([col]).agg({'billing':'sum'}).sort_values('billing',ascending=False)
        mask=series.cumsum()/series.sum()>0.9 
        #nos=mask.value_counts()[1]
        mask=mask.iloc[:,0]
        levels=len(df_north[col].unique())
        
        if levels>10:
            df[col] = np.where(df[col].isin(series[mask].index),'Other',df[col])         
        new_levels=len(df[col].unique())

        freq=df[col].value_counts()/df[col].value_counts().sum()*100
        freq=freq.round(2)

        sale_qty=df.groupby([col]).agg({'sales_quantity':'sum'}).sort_values('sales_quantity',ascending=False)
        sale_qty=sale_qty/sale_qty.sum()*100
        sale_qty=sale_qty.round(2)
        try:
            Other_Sales_Qty=sale_qty['sales_quantity']['Other']
        except:
            Other_Sales_Qty=0
        
        bill=df.groupby([col]).agg({'billing':'sum'}).sort_values('billing',ascending=False)
        bill=bill/bill.sum()*100
        bill=bill.round(2)
        try:
            Other_bill=bill['billing']['Other']
        except:
            Other_bill=0
        
        #comparison=mrp.merge(sale_qty, left_index=True, right_index=True)
        lst.append([col.upper(),levels, new_levels,Other_bill,Other_Sales_Qty])
        #print ("%s-Originally %d levels,combined %d levels into 'Other'.New Levels %d.By MRP,Other is %2.1f and by sale qty others is %2.1f"%(col.upper(),levels, levels-new_levels, new_levels,mrp['stock_prevailing_mrp']['Other'],sale_qty['sales_quantity']['Other']))
    
    cols=['Feature', 'Orig Levels', 'New Levels', 'Other%(Billing)', 'Other%(Sales Qty)']
    df1 = pd.DataFrame(lst, columns=cols)
    df1=df1.set_index("Feature")
    
    return df1,df

In [254]:
import numpy as np
#cols=['brand','case_size', 'case_size_range', 'gender', 'material', 'dial_color', 'strap_type', 'strap_color','precious_stone', 'glass', 'watch_type']
cols=['case_size_range', 'gender','movement', 'material', 'dial_color', 'strap_type', 'strap_color','precious_stone', 'glass', 'case_shape', 'watch_type']
summary,df_north_pareto=pareto(df_north_final, cols)
summary

                 Orig Levels  New Levels  Other%(Billing)  Other%(Sales Qty)
Feature
CASE_SIZE_RANGE           13           6            14.18              21.41
GENDER                     3           3             0.00               0.00
MOVEMENT                   6           6             0.00               0.00
MATERIAL                  62           6            12.58              16.23
DIAL_COLOR                52          11            11.29              10.27
STRAP_TYPE                65           8            10.70              16.68
STRAP_COLOR               50           7            14.15              20.99
PRECIOUS_STONE             9           9             0.00               0.00
GLASS                      8           7             0.00               0.00
CASE_SHAPE                 6           6             0.00               0.00
WATCH_TYPE                 6           6             0.00               0.00

In [255]:
df_north_pareto.shape

(682686, 26)

#### Creating dummy variables

In [15]:
#sorting by week_no and year
df_north_pareto=df_north_pareto.sort_values(['week_no', 'year'], ascending=True)

In [16]:
df_north_pareto.shape

(683353, 26)

In [17]:
#creating dummy variables
cols=['brand','state','region', 'store_type', 'store_location', 'city_type',
       'case_size_range', 'gender', 'movement', 'material', 'dial_color',
       'strap_type', 'strap_color', 'precious_stone', 'glass', 'case_shape',
       'watch_type', 'week_no', 'year']
df_north_dummies=pd.get_dummies(data=df_north_pareto, columns=cols)

In [18]:
df_north_dummies.shape

(683353, 240)

In [19]:
#for checking levels in features
a=df_north_pareto.columns
xx=a[-2]
print(xx)
df_north_final[xx].value_counts().sort_index()

sales_quantity

-3           3
-2           8
-1         467
 0      647588
 1       33439
 2        1571
 3         188
 4          35
 5          22
 6           9
 7           2
 8           4
 9           2
 10          5
 11          2
 12          2
 13          1
 15          1
 22          1
 23          1
 28          1
 135         1
Name: sales_quantity, dtype: int64

In [200]:
#for sales_quantity as the target variable
#creating seperate df for independent and dependent features
#y=df_north_dummies.loc[:, df_north_dummies.columns == 'sales_quantity']
#X=df_north_dummies.drop(columns =['sales_quantity','location_code','item_no','billing','so'])

In [161]:
#for So as the target variable
#creating seperate df for independent and dependent features
y=df_north_dummies.loc[:, df_north_dummies.columns == 'so']
X=df_north_dummies.drop(columns =['sales_quantity','location_code','item_no','billing','sales_quantity', 'so'])

In [20]:
#checking for duplicate column names
duplicate_columns = df_north_dummies.columns[df_north_dummies.columns.duplicated()]
duplicate_columns

Index([], dtype='object')

In [202]:
#performing train and test split on data

split=0.2
test=int(len(X)*split)
train=len(X)-test
X_train=X.head(train)
y_train=y.head(train)
X_test=X.tail(test)
y_test=y.tail(test)

### Modelling using xgboost

##### Basic modelling without tuning

In [207]:
#!pip install xgboost
import xgboost as xgb
from sklearn.metrics import mean_squared_error

In [208]:
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.3, learning_rate = 0.1,max_depth = 5, alpha = 10, n_estimators = 10)
xg_reg.fit(X_train,y_train)
preds = xg_reg.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

RMSE: 0.258604

In [209]:
from sklearn.metrics import r2_score
r2_score(y_test,preds)

-0.7949582649995204

##### Tuning hyperparameters    DONT RUN THIS CODE FOR NOW

In [21]:
params = {'colsample_bytree': [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9],
          'subsample': [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9],
          'colsample_bylevel':[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9],
          'min_child_weight':[1,3,5,7] ,
          'reg_lambda':[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9],
          'n_estimator':[3,5,7,10],
          'learning_rate': [0.05,0.1,0.15,0.2,0.25,0.3],
          'max_depth': [3,4,5,6,7,8,10,12,15], 
          'reg_alpha': [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9]
         }

In [ ]:
#params = {'colsample_bytree': [0.1,0.2],
          #'subsample': [0.1,0.2,0.3,0.4],
          #'colsample_bylevel':[0.1,0.2,0.3,0.4],
          #'min_child_weight ':[1,3,5,7] ,
#          'reg_lambda':[0.1,0.2,0.3]
          #'n_estimator':[3,5,],
          #'learning_rate': [0.05,0.1,0.15,0.2,0.25,0.3],
          #'max_depth': [3,4,5,6,7,8,10,12,15], 
          #'reg_alpha': [0.1,0.2,0.3]
#         }

In [22]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror')
#scoring='r2'
scoring='neg_mean_squared_error'
random_search=RandomizedSearchCV(xg_reg,param_distributions=params,scoring=scoring,n_iter=20,cv=5,verbose=3)

In [ ]:
random_search.fit(X_train,y_train)

In [25]:
random_search.best_estimator_

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=0.9,
             colsample_bynode=1, colsample_bytree=0.8, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.1, max_delta_step=0, max_depth=12,
             min_child_weight=1, min_child_weight =7, missing=nan,
             monotone_constraints='()', n_estimator=3, n_estimators=100,
             n_jobs=0, num_parallel_tree=1, objective='reg:squarederror',
             random_state=0, reg_alpha=0.5, reg_lambda=0.3, scale_pos_weight=1,
             subsample=0.2, tree_method='exact', validate_parameters=1,
             verbosity=None)

In [26]:
random_search.best_params_

{'subsample': 0.2,
 'reg_lambda': 0.3,
 'reg_alpha': 0.5,
 'n_estimator': 3,
 'min_child_weight ': 7,
 'max_depth': 12,
 'learning_rate': 0.1,
 'colsample_bytree': 0.8,
 'colsample_bylevel': 0.9}

In [138]:
#best model based on the output of random_search.best_estimator_
best_gb=xgb.XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=0.9,
             colsample_bynode=1, colsample_bytree=0.8, gamma=0,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.1, max_delta_step=0, max_depth=12,
             min_child_weight =7, missing=np.nan,
              n_estimator=3, n_estimators=100,
             n_jobs=0, num_parallel_tree=1, objective='reg:squarederror',
             random_state=0, reg_alpha=0.5, reg_lambda=0.3, scale_pos_weight=1,
             subsample=0.2, tree_method='exact', validate_parameters=1,
             verbosity=0)

In [140]:
from sklearn.model_selection import cross_val_score as cvs
score=cvs(best_gb,X_train,y_train,cv=2,scoring='r2')

In [141]:
score

array([-0.02672306,  0.05306504])

In [142]:
score.mean()

0.013170992515409596

In [143]:
best_gb.fit(X_train,y_train)
preds = best_gb.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

RMSE: 0.231691

In [144]:
from sklearn.metrics import r2_score
rmse = np.sqrt(mean_squared_error(y_test, preds))
r2=r2_score(y_test,preds)
print("RMSE: %.2f, R2: %.2f" % (rmse,r2))

RMSE: 0.231691, R2: 0.059121

### Regression Modelling

In [204]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics
reg_model = LinearRegression()  
reg_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [205]:
preds = reg_model.predict(X_test)

In [206]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
rmse = np.sqrt(mean_squared_error(y_test, preds))
r2=r2_score(y_test,preds)
print("Test RMSE: %.2f, Test R2: %.2f" % (rmse,r2))

Test RMSE: 0.25, Test R2: -0.65

## Classifiers

In [256]:
#retaining only 0 and 1 for sales_quantity
df_north_pareto_classifier = df_north_pareto[df_north_pareto['sales_quantity'].isin([0,1])]
df_north_pareto_classifier['sales_quantity'].value_counts().sort_index()

0    647604
1     33414
Name: sales_quantity, dtype: int64

In [257]:
#creating dummy variables
cols=['brand','state','region', 'store_type', 'store_location', 'city_type',
       'case_size_range', 'gender', 'movement', 'material', 'dial_color',
       'strap_type', 'strap_color', 'precious_stone', 'glass', 'case_shape',
       'watch_type', 'week_no', 'year']
df_north_dummies_clf=pd.get_dummies(data=df_north_pareto_classifier, columns=cols)

#for sales_quantity as the target variable
#creating seperate df for independent and dependent features
y_clf=df_north_dummies_clf.loc[:, df_north_dummies_clf.columns == 'sales_quantity']
X_clf=df_north_dummies_clf.drop(columns =['sales_quantity','location_code','item_no','billing','so'])

#performing train and test split on data

split=0.2
test_clf=int(len(X_clf)*split)
train_clf=len(X_clf)-test_clf
X_train_clf=X_clf.head(train_clf)
y_train_clf=y_clf.head(train_clf)
X_test_clf=X_clf.tail(test_clf)
y_test_clf=y_clf.tail(test_clf)

#### Balancing the data

In [258]:
#!pip install -U imbalanced-learn
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=11915027)
X_bal_clf, y_bal_clf = ros.fit_resample(X_train_clf, y_train_clf)
#classifier(X_bal,y_bal)

In [259]:
print (len(X_train_clf),len(X_bal_clf),len(y_train_clf),len(y_bal_clf))

544815 1035492 544815 1035492

In [260]:
counts=y_train_clf.iloc[:, 0].value_counts().to_frame(name='Before Balancing')
count1= pd.DataFrame(np.bincount(y_bal_clf.iloc[:, 0]))
counts['After Balancing'] = count1
counts

   Before Balancing  After Balancing
0            517746           517746
1             27069           517746

#### Defining function for computing confusion metrics

In [261]:
#defining function for computing confusion metrics

from sklearn import metrics
from sklearn.metrics import confusion_matrix
def cfm(y_test,y_pred):
    tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()
    tnp=tn/(tn+fp)*100
    fpp=fp/(tn+fp)*100
    fnp=fn/(fn+tp)*100
    tpp=tp/(fn+tp)*100
    false_positive_rate, true_positive_rate, thresholds = roc_curve(y_test, y_pred)
    roc_auc = auc(false_positive_rate, true_positive_rate)
    accuracy=metrics.accuracy_score(y_test, y_pred)*100
    return accuracy,tnp,fpp,fnp,tpp,roc_auc
    #return accuracy,tn,fp,fn,tp

#### Ignore this function for now

In [33]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import MultinomialNB

def classifier(x_train, x_test, y_train, y_test):

    #x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=11915027)
    #x_train_bal, x_test_bal, y_train_bal, y_test_bal = train_test_split(X_bal, y_bal, test_size=0.30, random_state=11915027)

    output_list=[]

    arr=np.bincount(y_train.iloc[:, 0])
    a=np.where( arr== np.max(arr))
    a=a[0][0]
    np.count_nonzero(y_test == a)
    y_pred=np.full(len(y_test),a)
    #baseline_accuracy=np.count_nonzero(y_test == a)/len(y_test)
    #baseline_accuracy
    accuracy,tnp,fpp,fnp,tpp = cfm(y_test,y_pred)
    output_list.append(['Majority Class',accuracy,tnp,fpp,fnp,tpp])

    log_model = LogisticRegression(solver='newton-cg',multi_class='multinomial')
    log_model.fit(x_train,y_train)
    y_pred = log_model.predict(x_test)
    #log_accuracy = metrics.accuracy_score(y_test, y_pred)
    #log_accuracy
    accuracy,tnp,fpp,fnp,tpp = cfm(y_test,y_pred)
    output_list.append(['Log Regression',accuracy,tnp,fpp,fnp,tpp])

    clf = MultinomialNB()
    clf.fit(x_train,y_train)
    y_pred = clf.predict(x_test)
    #nb_accuracy=metrics.accuracy_score(y_test, y_pred)
    accuracy,tnp,fpp,fnp,tpp = cfm(y_test,y_pred)
    output_list.append(['Naive Bayes',accuracy,tnp,fpp,fnp,tpp])

    d_tree_clfr = DecisionTreeClassifier(criterion = 'entropy', min_samples_leaf=25)
    d_tree_clfr.fit(x_train, y_train)
    y_pred= d_tree_clfr.predict(x_test)
    #dt_accuracy=metrics.accuracy_score(y_test, y_pred)
    accuracy,tnp,fpp,fnp,tpp = cfm(y_test,y_pred)
    output_list.append(['Decision Tree',accuracy,tnp,fpp,fnp,tpp])

    lda_clf = LinearDiscriminantAnalysis()
    lda_clf.fit(x_train, y_train)
    y_pred= lda_clf.predict(x_test)
    #lda_accuracy=metrics.accuracy_score(y_test, y_pred)
    accuracy,tnp,fpp,fnp,tpp = cfm(y_test,y_pred)
    output_list.append(['LDA',accuracy,tnp,fpp,fnp,tpp])

    #output_list.append([baseline_accuracy,log_accuracy,nb_accuracy,dt_accuracy,lda_accuracy])
    #output=pd.DataFrame(output_list,columns=['Baseline','Log Regression','Naive Bayes','Decision Tree','LDA'])
    output=pd.DataFrame(output_list,columns=['Model','Accuracy%','TN%', 'FP%', 'FN%', 'TP%'])

    output=output.round(2)
    #accuracy,tnp,fpp,fnp,tpp = cfm(y_test,y_pred)
    #print (accuracy,tnp,fpp,fnp,tpp)
    return output

#### Computing baseline accuracy if all predictions were zero

In [262]:
# computing baseline accuracy if all predictions were zero

output_list=[]
arr=np.bincount(y_train_clf.iloc[:, 0])
a=np.where( arr== np.max(arr))
a=a[0][0]
np.count_nonzero(y_test_clf == a)
y_pred=np.full(len(y_test_clf),a)
#baseline_accuracy=np.count_nonzero(y_test == a)/len(y_test)
#baseline_accuracy

accuracy,tnp,fpp,fnp,tpp,roc_auc = cfm(y_test_clf,y_pred)
output_list.append(['Majority Class',accuracy,tnp,fpp,fnp,tpp,roc_auc])
output=pd.DataFrame(output_list,columns=['Model','Accuracy%','TN%', 'FP%', 'FN%', 'TP%','AUC'])
output.round(2)

            Model  Accuracy%    TN%  FP%    FN%  TP%  AUC
0  Majority Class      95.34  100.0  0.0  100.0  0.0  0.5

#### Decision tree classifier

In [265]:
d_tree_clfr = DecisionTreeClassifier(criterion = 'entropy', min_samples_leaf=100)
d_tree_clfr.fit(X_train_clf, y_train_clf)
y_pred= d_tree_clfr.predict(X_test_clf)
#dt_accuracy=metrics.accuracy_score(y_test, y_pred)
accuracy,tnp,fpp,fnp,tpp,roc_auc = cfm(y_test_clf,y_pred)
output_list.append(['Decision Tree',accuracy,tnp,fpp,fnp,tpp,roc_auc])

output=pd.DataFrame(output_list,columns=['Model','Accuracy%','TN%', 'FP%', 'FN%', 'TP%','AUC'])
output.round(2)

            Model  Accuracy%     TN%   FP%     FN%   TP%   AUC
0  Majority Class      95.34  100.00  0.00  100.00  0.00  0.50
1   Decision Tree      95.34  100.00  0.00  100.00  0.00  0.50
2   Decision Tree      95.35   99.86  0.14   96.85  3.15  0.52

#### tuning

In [269]:
from sklearn.tree import DecisionTreeClassifier
lst=[]
#x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=11915027)
#x_train_bal, x_test_bal, y_train_bal, y_test_bal = train_test_split(X_bal, y_bal, test_size=0.30, random_state=11915027)
for i in range(100,1000,25): 
    d_tree_clfr = DecisionTreeClassifier(criterion = 'entropy', min_samples_leaf=i)
    #Apply classifier on training dataset
    d_tree_clfr.fit(X_bal_clf, y_bal_clf)
    y_pred = d_tree_clfr.predict(X_test_clf)
    accuracy,tnp,fpp,fnp,tpp,roc_auc = cfm(y_test_clf,y_pred)
    lst.append([i,accuracy,tnp,fpp,fnp,tpp,roc_auc])
cols=['SizeThreshold','Accuracy%','TN%', 'FP%', 'FN%', 'TP%','AUC']
df = pd.DataFrame(lst, columns=cols)
df=df.set_index("SizeThreshold")
df.round(2)

               Accuracy%    TN%    FP%    FN%    TP%   AUC
SizeThreshold
100                70.42  70.77  29.23  36.72  63.28  0.67
125                69.45  69.66  30.34  34.93  65.07  0.67
150                68.26  68.37  31.63  34.01  65.99  0.67
175                68.46  68.59  31.41  34.17  65.83  0.67
200                68.40  68.50  31.50  33.52  66.48  0.67
225                68.12  68.19  31.81  33.18  66.82  0.68
250                68.29  68.35  31.65  32.96  67.04  0.68
275                68.70  68.80  31.20  33.27  66.73  0.68
300                67.99  68.06  31.94  33.62  66.38  0.67
325                67.64  67.67  32.33  33.02  66.98  0.67
350                67.09  67.08  32.92  32.83  67.17  0.67
375                66.96  66.95  33.05  32.94  67.06  0.67
400                66.98  66.95  33.05  32.23  67.77  0.67
425                66.46  66.36  33.64  31.51  68.49  0.67
450                66.00  65.87  34.13  31.41  68.59  0.67
475                66.08  65.97  34.03  31.62  68.38  0.67
500                66.55  66.48  33.52  31.93  68.07  0.67
525                67.06  67.00  33.00  31.73  68.27  0.68
550                66.45  66.34  33.66  31.25  68.75  0.68
575                66.51  66.42  33.58  31.55  68.45  0.67
600                65.98  65.87  34.13  31.62  68.38  0.67
625                65.99  65.85  34.15  31.22  68.78  0.67
650                66.48  66.40  33.60  32.03  67.97  0.67
675                65.86  65.72  34.28  31.44  68.56  0.67
700                65.34  65.15  34.85  30.83  69.17  0.67
725                65.52  65.35  34.65  31.03  68.97  0.67
750                65.52  65.34  34.66  30.75  69.25  0.67
775                65.24  65.02  34.98  30.29  69.71  0.67
800                64.60  64.34  35.66  30.12  69.88  0.67
825                64.54  64.27  35.73  29.98  70.02  0.67
850                64.65  64.39  35.61  30.04  69.96  0.67
875                64.73  64.46  35.54  29.55  70.45  0.67
900                64.79  64.54  35.46  30.13  69.87  0.67
925                64.57  64.30  35.70  29.88  70.12  0.67
950                64.29  63.97  36.03  29.27  70.73  0.67
975                64.64  64.36  35.64  29.61  70.39  0.67

In [173]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(X_bal_clf, y_bal_clf)
DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
    max_features=None, max_leaf_nodes=None,
    min_impurity_split=1e-07, min_samples_leaf=1,
     min_samples_split=2, min_weight_fraction_leaf=0.0,
     presort=False, random_state=None, splitter='best')
y_pred = dt.predict(X_test_clf)

In [207]:
from sklearn.model_selection import RandomizedSearchCV 
param_dist = {"max_depth": np.linspace(1, 32, 32, endpoint=True), 
              "min_samples_leaf": np.linspace(0.05, 0.5, 50, endpoint=True), 
              "criterion": ["gini", "entropy"]} 
tree = DecisionTreeClassifier() 
tree_cv = RandomizedSearchCV(tree, param_dist, cv = 5,scoring='roc_auc') 
tree_cv.fit(X_train_clf, y_train_clf) 
print("Tuned Decision Tree Parameters: {}".format(tree_cv.best_params_)) 
print("Best score is {}".format(tree_cv.best_score_))

Tuned Decision Tree Parameters: {'min_samples_leaf': 0.1142857142857143, 'max_depth': 15.0, 'criterion': 'gini'}
Best score is 0.6193861791108246

In [217]:
from sklearn.ensemble import GradientBoostingClassifier as gbc
params = {"max_depth": np.linspace(1, 32, 32, endpoint=True),
          'subsample': [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9],
          "min_samples_leaf": np.linspace(0.05, 0.5, 50, endpoint=True),         
          #'n_estimator':[3,5,7,10],
          'learning_rate': [0.05,0.1,0.15,0.2,0.25,0.3],
          'max_depth': [3,4,5,6,7,8,10,12,15], 
          
         }

#learning_rate=0.1, n_estimators=100, subsample=1.0, criterion='friedman_mse', min_samples_split=2, 
#min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_depth=3, min_impurity_decrease=0.0, 
#min_impurity_split=None, init=None, random_state=None, max_features=None, verbose=0, max_leaf_nodes=None, 
#warm_start=False,presort='deprecated', validation_fraction=0.1, n_iter_no_change=None, tol=0.0001, 
#ccp_alpha=0.0)[source]
gb = gbc() 
gb_cv = RandomizedSearchCV(gb, params, cv = 5,scoring='roc_auc',verbose=1) 
gb_cv.fit(X_train_clf, y_train_clf.iloc[:, 0]) 
print("Tuned Gradient Boost Parameters: {}".format(gb_cv.best_params_)) 
print("Best score is {}".format(gb_cv.best_score_))

Tuned Decision Tree Parameters: {'subsample': 0.9, 'min_samples_leaf': 0.1510204081632653, 'max_depth': 6, 'learning_rate': 0.25}
Best score is 0.6548648277071013

In [228]:
from sklearn.ensemble import RandomForestClassifier as rfc
params = {"max_depth": np.linspace(1, 80, 80, endpoint=True),
          "min_samples_leaf": np.linspace(0.05, 0.5, 50, endpoint=True),         
          #'n_estimator':[3,5,7,10],         
          "criterion": ["gini", "entropy"]
         }

#class sklearn.ensemble.RandomForestClassifier(n_estimators=100, *, criterion='gini', max_depth=None, 
#min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features='auto', 
#max_leaf_nodes=None, min_impurity_decrease=0.0, min_impurity_split=None, bootstrap=True, oob_score=False, 
#n_jobs=None, random_state=None, verbose=0, warm_start=False, class_weight=None, ccp_alpha=0.0, max_samples=None)[source]
rf = rfc() 
rf_cv = RandomizedSearchCV(rf, params, cv = 5,scoring='roc_auc',verbose=1) 
rf_cv.fit(X_train_clf, y_train_clf.iloc[:, 0]) 
print("Tuned Random Forest Parameters: {}".format(rf_cv.best_params_)) 
print("Best score is {}".format(rf_cv.best_score_))

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:  8.4min finished

Tuned Random Forest Parameters: {'min_samples_leaf': 0.05918367346938776, 'max_depth': 15.0, 'criterion': 'entropy'}
Best score is 0.6435627568690562

## Clustering

In [275]:
df_north_pareto.columns

Index(['location_code', 'item_no', 'state', 'region', 'brand',
       'stock_prevailing_mrp', 'store_type', 'store_location', 'city_type',
       'available_quantity', 'week_no', 'year', 'case_size_range', 'gender',
       'movement', 'material', 'dial_color', 'strap_type', 'strap_color',
       'precious_stone', 'glass', 'case_shape', 'watch_type', 'billing',
       'sales_quantity', 'so'],
      dtype='object')

In [274]:
X_train_clf.columns.to_frame().to_excel('D:\\Backup\\ISB CBA\\Capstone\\columns.xlsx')

In [ ]:
from kmodes.kprototypes import KPrototypes
kproto = KPrototypes(n_clusters=15, init='Cao', verbose=2)
clusters = kproto.fit_predict(X_train_clf, categorical=[1, 2])